body{
    background-color: rgb(178, 204, 213);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-button-container:hover .hover{
    display:block;
    display: flex;
}

button:focus {
    outline:0;
}

.game-button {
    width:650px;
    height:300px;
    font-size: 100px;
    border: 2px solid black;
    color: white;
    background-color: rgb(127, 161, 223);
    border-radius: 20px;
    margin-top: 20px;
}

.game-button:hover {
    border: 2px solid white;
    border-radius: 20px;
    border-color: white;
    cursor: pointer;
}

.rule-button {
    width:650px;
    height:300px;
    font-size: 100px;
    border: 2px solid black;
    color: white;
    background-color: rgb(127, 161, 223);
    border-radius: 20px;
}

.rule-button:hover {
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.game-button-container:hover .level-button-container {
    display: block;
    display: flex;
    width:650px;
    display: flex;
    justify-content: center;
}

.level-button-container {
    display: none;
}

.level-button {
    font-size: 50px;
    border: 2px solid black;
    color: white;
    background-color: rgb(127, 161, 223);
    border-radius: 20px;
    height: 100px;
    flex-grow: 1;
}

.level-button:hover {
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .game-button {
        width:90vw;
        height:45vh;
        font-size: 50px;
        color: white;
        border-radius: 20px;
        margin-top: 0px;
    }
    
    .rule-button {
        width:90vw;
        height:45vh;
        font-size: 50px;
        color: white;
        border-radius: 20px;
    }

    .game-button-container:hover .level-button-container {
        display: block;
        display: flex;
        width:90vw;
        display: flex;
        justify-content: center;
    }

    .level-button {
        font-size: 15px;
        color: white;
        border-radius: 20px;
        height: 75px;
        flex-grow: 1;
    }
    
}

  
